body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    margin: 0 0 10px;
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    width: 100%;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    margin-top: 10px;
}

form button:hover {
    background-color: #218838;
}

.test-options {
    text-align: center;
    color: #333;
    font-size: 18px;
}

/* Добавляем стили для индикатора загрузки */
#loading {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    text-align: center;
    padding-top: 200px;
    font-size: 20px;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.question {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border: #ccc 1px solid;
    border-radius: 5px;
}
.question ul {
    list-style: none;
    padding: 0;
}
.question li {
    list-style-type: none;
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
}

.question-params {
    margin: 5px 0;
    font-size: 14px;
}
